mat-card {
  flex-shrink: 0;
  max-width: 350px;
  min-width: 350px;
  margin: 10px;
  display: inline-block;
  vertical-align: top;

  .detail {
    width: 400px;

    mat-card-title {
      font-weight: bold;
      font-size: larger;
    }

    mat-form-field {
      width: 350px;
    }
  }
}

mat-card-header {
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 10px;
}

mat-card-title {
  margin-left: -15px;
}

mat-card-header > .mat-card-avatar > mat-icon {
  white-space: nowrap;
  font-size: 40px;
}

mat-card-title {
  padding-top: 10px;
  padding-left: 10px;
  font-weight: bold;
}

.hidden {
  display: none;
}
